<div class="dashboard">

  <header class="navbar">
    <h2>My Dashboard</h2>
    <button class="logout-btn" type="button" (click)="logout()">
      Logout
    </button>
  </header>

  <div class="content">
    <main class="main">
      <h3>Welcome back 👋</h3>

      <div class="stats-container">

        <button class="stat-btn users-btn" (click)="goToUsers()">
          <h4>Users</h4>
          <p>120</p>
        </button>

        <button class="stat-btn orders-btn">
          <h4>Orders</h4>
          <p>45</p>
        </button>

        <button class="stat-btn revenue-btn">
          <h4>Revenue</h4>
          <p>₹12,500</p>
        </button>

      </div>
    </main>
  </div>
</div>
