.top-header {
  height: 70px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #eee;
}

/* SEARCH */
.search-box {
  display: flex;
  align-items: center;
  background: #f5f6fa;
  margin-left: 165px;
  padding: 10px 14px;
  border-radius: 10px;
  width: 550px;
  padding-left: 10px;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
  margin-left: 8px;
  font-size: 14px;
}

/* ACTIONS */
.header-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

/* UPGRADE BUTTON */
.upgrade-btn {
  background: #ff9f43;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}

.upgrade-btn:hover {
  background: #ff8c1a;
}

/* ICON BUTTON */
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
  font-size: 18px;
}

.icon-btn:hover {
  background: #f2f2f2;
}

.profile {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* PROFILE IMAGE */
.profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* PROFILE TEXT */
.profile-info {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.profile-info .name {
  font-weight: 600;
  font-size: 14px;
}

.profile-info .role {
  font-size: 12px;
  color: #777;
}
/*download button*/

/* ICON */
.icon-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #fff;
  cursor: pointer;
}

/* PANEL */
.download-panel {
  position: absolute;
  top: 50px;
  right: 0;
  width: 300px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  padding: 12px;
  z-index: 100;
}

.panel-title {
  font-weight: 600;
  margin-bottom: 10px;
}

/* ITEM */
.download-item {
  margin-bottom: 10px;
}

.file-name {
  font-size: 13px;
  margin-bottom: 6px;
}

/* PROGRESS */
.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 6px;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: #4caf50;
}

/* STATUS */
.completed {
  font-size: 12px;
  color: green;
}

.empty {
  font-size: 13px;
  color: #999;
  text-align: center;
}

